<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
	<% # By default, it will look for the user_html_erb view and iterate over each
	   # it also requires the <%= as its getting straight output to the screen 
	%>
	<%= render @users %>
</ul>

<%= will_paginate %>